{
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "trailingComma": "all",
  "printWidth": 120,
  "semi": true,
  "jsxBracketSameLine": true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "typescript" }
    }
  ]
}
